<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- 使用Spring来创建对象，在 Spring 这些都称为 bean -->
  <bean id="hello" class="com.xp.pojo.Hello">
    <property name="str" value="Spring"/>
  </bean>
</beans>
