<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean id="userDao" class="org.tiny.bean.UserDao"/>

  <bean id="userService" class="org.tiny.bean.UserService">
    <property name="id" value="10001"/>
    <property name="company" value="company"/>
    <property name="location" value="location"/>
    <property name="userDao" ref="userDao"/>
  </bean>

  <bean class="org.tiny.common.MyBeanPostProcessor"/>
  <bean class="org.tiny.common.MyBeanFactoryPostProcessor"/>
</beans>