<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xp.sso.dao.UserDao">
	<resultMap id="resultMap" type="com.xp.sso.entity.User">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
	</resultMap>
	
	<select id="find" parameterType="com.xp.sso.entity.User" resultMap="resultMap">
		SELECT *
		FROM user
		WHERE username = #{user.username} AND password = #{user.password}
		LIMIT 1
	</select>
	
</mapper>
