<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd


        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<description>redis 连接服务配置</description>

	<context:property-placeholder location="classpath*:/*.properties" ignore-unresolvable="true"/>

	<!-- redis config start -->
	<!-- 配置JedisPoolConfig实例 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.max.idle}" />
		<property name="maxTotal" value="${redis.max.total}" />
		<!--<property name="maxWaitMillis" value="${redis.maxWait}" />-->
		<property name="testOnBorrow" value="${redis.test.borrow}" />
	</bean>

	<!-- 配置JedisConnectionFactory -->
	<bean id="jedisConnectionFactory"
		  class="org.springframework.data.redis.connection.RedisStandaloneConfiguration">
		<property name="hostName" value="${redis.ip}" />
		<property name="port" value="${redis.port}" />
		<!-- <property name="password" value="${redis.pass}" /> -->
		<!--<property name="database" value="${redis.dbIndex}" />-->
		<!--<property name="poolConfig" ref="poolConfig" />-->
	</bean>

	<!-- 配置RedisTemplate -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
		<!--<property name="connectionFactory" ref="jedisConnectionFactory" />-->
	</bean>

	<!-- 配置RedisCacheManager -->
	<!--<bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">-->
		<!--<constructor-arg name="redisOperations" ref="redisTemplate" />-->
		<!--<property name="defaultExpiration" value="${redis.expiration}" />-->
	<!--</bean>-->

	<!-- 配置RedisCacheConfig -->
	<!--<bean id="redisCacheConfig" class="cn.migu.music.ms.common.RedisCacheConfig">-->
		<!--<constructor-arg ref="jedisConnectionFactory" />-->
		<!--<constructor-arg ref="redisTemplate" />-->
		<!--<constructor-arg ref="redisCacheManager" />-->
	<!--</bean>-->
	<!-- redis config end -->
</beans>
