<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserTakeSeckillMapper">
  <resultMap id="BaseResultMap" type="org.example.entity.UserTakeSeckill">
    <!--@mbg.generated-->
    <!--@Table user_take_seckill-->
    <id column="award_id" jdbcType="BIGINT" property="awardId" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    award_id, user_id, `state`, create_time, update_time
  </sql>
</mapper>