<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean id="userDao" class="org.learn.spring.v6.bean.UserDao"/>

  <bean id="userService" class="org.learn.spring.v6.bean.UserService">
    <property name="uId" value="10001"/>
    <property name="name" value="xp"/>
    <property name="userDao" ref="userDao"/>
  </bean>

  <bean class="org.learn.spring.v6.common.MyBeanPostProcessor"/>
  <bean class="org.learn.spring.v6.common.MyBeanFactoryPostProcessor"/>

</beans>